@using Web.Template.Application.PageDefinition
@model Web.Template.Application.PageDefinition.Page


@if (Model.Sections.Any(section => section.Name.ToLower() == "navigation"))
{
    <nav class="navigation">
        @foreach (Section section in Model.Sections.Where(section => section.Name.ToLower() == "navigation"))
        {
            foreach (Widget widget in section.Widgets)
            {
                @Html.Partial("_Widget", widget)
}
        }
    </nav>
}

@if (Model.Sections.Any(section => section.Name.ToLower() == "fullcontenttop"))
{
    <div class="full-content-top container">
        <div class="row">
            <div class="col-xs-12">
                @foreach (Section section in Model.Sections.Where(section => section.Name.ToLower() == "fullcontenttop"))
                {
                    foreach (Widget widget in section.Widgets)
                    {
                        @Html.Partial("_Widget", widget)
}
                }
            </div>
        </div>
    </div>
}

<div class="container sidebar-left">
    <div class="row">

        <aside class="sidebar col-xs-12 col-md-3">
            @foreach (Section section in Model.Sections.Where(section => section.Name.ToLower() == "sidebar"))
            {
                foreach (Widget widget in section.Widgets)
                {
                    @Html.Partial("_Widget", widget)
}
            }
        </aside>

        <main class="main body-content col-xs-12 col-md-9">
            <section id="widget-widgetedit-container" data-context="" class="section-widget section-widgetedit">
                @Html.Raw(Model.AdditionalHTML)
            </section>
            @foreach (Section section in Model.Sections.Where(section => section.Name.ToLower() == "main"))
            {
                foreach (Widget widget in section.Widgets)
                {
                    @Html.Partial("_Widget", widget)
                }
            }
        </main>

    </div>
</div>

@if (Model.Sections.Any(section => section.Name.ToLower() == "fullcontentbottom"))
{
    <div class="full-content-bottom">

        @foreach (Section section in Model.Sections.Where(section => section.Name.ToLower() == "fullcontentbottom"))
        {
            foreach (Widget widget in section.Widgets)
            {
                @Html.Partial("_Widget", widget)
}
        }
    </div>
}
